* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    padding: 0px 50px;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.border__run {
    border: 1px solid rgb(0, 0, 0);
    width: 1000px;
    height: 500px;
    margin-top: 70px;
}
.margin_auto {
   margin: auto;
   border: 1px solid red;

}
.first__title {
    text-align: center;
    margin-top: 15px;
}
.lorem__text {
    width: 700px;
    height: 50px;
    text-align: center;
}
.first {
    background-color: rgb(170, 206, 253);

}
.btn {
    padding: 10px 14px;
    margin-left: 150px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    /* transform: all 0.3s ease-out; */
}
.second{
    background-color: #c3f1eb;
    margin-top: 40px;

}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search {
    margin-top: 40px;
    margin-right: 148px;
    padding: 9px 30px;
    padding-left: 5px;
    border-color: 1px solid #c2c2c293;
}
table td, th {
    /* height: 25px; */
    padding: 4px 8px;
}
.box__line {
    border-collapse: collapse;
    width: 70%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
}
.btns {
    margin: 0px 5px;
    padding: 4px 10px;
}
.ditail {
    background-color: #4fffe2;
    border: 1px solid white;
}
.edit {
    background-color: #ffd000;
    border: 1px solid white;
}
.delete {
    background-color: #ff0000;
    border: 1px solid white;
    color: white;
}


